
*,
*::after,
*::before {
    box-sizing: border-box;
}

.page {
    height: 100%;
}

.page-body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: 1283px;
    margin-left: auto;
    margin-right: auto;
}


.section {
    display: flex;
    margin-bottom: 54px;
}

.menu-header {
    background-color: #35444F;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}

.menu-header-item {
    padding-left: 40px;
    padding-right: 40px;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    border-collapse: collapse;
}

.menu-header-link {
    font-size: 24px;
    line-height: 70px;
    text-decoration: none;
    color: #FFFFFF;
}

.menu-header-item:hover {
    background-color: #222F3A;
}

.header-title {
    margin-left: 0px;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    text-decoration: none;
    margin-bottom: 38px;
    margin-top: 63px;
    color: #000000;
}

.header-title-blue {
    color: #4bcaff;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(99, 105, 110, 0.48);;
}

.span-footer {
    margin-left: 82px;
    margin-right: 40px;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #010101;
}

.menu-footer {
    margin: 0;
    display: inline-flex;
    list-style: none;
}

.menu-footer-link {
    text-decoration: none;
    font-size: 28px;
    line-height: 70px;
    margin-left: 20px;
    color: #0C1927;
}

.menu-footer-link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}

.page-main-nav {
    width: 345px;
    height: 400px;
    border: 1px solid #000000;
}

.menu-main {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-main-link {
    padding-left: 44px;
    font-size: 27px;
    line-height: 80px;
    text-decoration: none;
    color: #485863;
    display: block;
}

.menu-main-link:hover {
    background-color: #DBDBDB;
    padding-left: 80px;
}

.section-picture {
    height: 529px;
    display: flex;
    border: 1px solid #000000;
}

.scale {
    display: inline-block;
    margin: auto;
    justify-self: center;
}

.section-picture img {
    transition: 1s;
    display: block;
}

.section-picture:hover img {
    transform: scale(1.2);
}

.main-content {
    margin-left: 52px;
    width: 885px;
}

.main-text {
    margin-top: 35px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
